In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Store CSV into DataeFrame
csv_file = "Resources/Hot Stuff.csv"
hot_stuff_df = pd.read_csv(csv_file, encoding='utf-8')
hot_stuff_df.head()

,url,weekid,week_position,song,performer,songid,instance,previous_week Position,peak_position,weeks_on_chart
0,http://www.billboard.com/charts/hot-100/1958-0...,8/2/58,1,Poor Little Fool,Ricky Nelson,Poor Little FoolRicky Nelson,1,NaN,1,1
1,http://www.billboard.com/charts/hot-100/1995-1...,12/2/95,1,One Sweet Day,Mariah Carey & Boyz II Men,One Sweet DayMariah Carey & Boyz II Men,1,NaN,1,1
2,http://www.billboard.com/charts/hot-100/1997-1...,10/11/97,1,Candle In The Wind 1997/Something About The Wa...,Elton John,Candle In The Wind 1997/Something About The Wa...,1,NaN,1,1
3,http://www.billboard.com/charts/hot-100/2006-0...,7/1/06,1,Do I Make You Proud,Taylor Hicks,Do I Make You ProudTaylor Hicks,1,NaN,1,1
4,http://www.billboard.com/charts/hot-100/2009-1...,10/24/09,1,3,Britney Spears,3Britney Spears,1,NaN,1,1

In [4]:
#Create new data with select columns
new_hot_stuff_df = hot_stuff_df[['weekid', 'song', 'performer','songid']]. copy()
new_hot_stuff_df.head()

,weekid,song,performer,songid
0,8/2/58,Poor Little Fool,Ricky Nelson,Poor Little FoolRicky Nelson
1,12/2/95,One Sweet Day,Mariah Carey & Boyz II Men,One Sweet DayMariah Carey & Boyz II Men
2,10/11/97,Candle In The Wind 1997/Something About The Wa...,Elton John,Candle In The Wind 1997/Something About The Wa...
3,7/1/06,Do I Make You Proud,Taylor Hicks,Do I Make You ProudTaylor Hicks
4,10/24/09,3,Britney Spears,3Britney Spears

In [5]:
new_hot_stuff_df['year'] = pd.DatetimeIndex(new_hot_stuff_df['weekid']).year
new_hot_stuff_df.head(20)

,weekid,song,performer,songid,year
0,8/2/58,Poor Little Fool,Ricky Nelson,Poor Little FoolRicky Nelson,2058
1,12/2/95,One Sweet Day,Mariah Carey & Boyz II Men,One Sweet DayMariah Carey & Boyz II Men,1995
2,10/11/97,Candle In The Wind 1997/Something About The Wa...,Elton John,Candle In The Wind 1997/Something About The Wa...,1997
3,7/1/06,Do I Make You Proud,Taylor Hicks,Do I Make You ProudTaylor Hicks,2006
4,10/24/09,3,Britney Spears,3Britney Spears,2009
5,2/26/11,Born This Way,Lady Gaga,Born This WayLady Gaga,2011
6,3/3/12,Part Of Me,Katy Perry,Part Of MeKaty Perry,2012
7,9/6/14,Shake It Off,Taylor Swift,Shake It OffTaylor Swift,2014
8,2/20/16,Pillowtalk,Zayn,PillowtalkZayn,2016
9,5/28/16,Can't Stop The Feeling!,Justin Timberlake,Can't Stop The Feeling!Justin Timberlake,2016
10,1/28/17,Shape Of You,Ed Sheeran,Shape Of YouEd Sheeran,2017
11,11/17/18,"Thank U, Next",Ariana Grande,"Thank U, NextAriana Grande",2018
12,2/2/19,7 Rings,Ariana Grande,7 RingsAriana Grande,2019
13,3/16/19,Sucker,Jonas Brothers,SuckerJonas Brothers,2019
14,8/2/58,Patricia,Perez Prado And His Orchestra,PatriciaPerez Prado And His Orchestra,2058
15,4/6/96,Always Be My Baby,Mariah Carey,Always Be My BabyMariah Carey,1996
16,5/11/96,Tha Crossroads,Bone Thugs-N-Harmony,Tha CrossroadsBone Thugs-N-Harmony,1996
17,9/27/97,4 Seasons Of Loneliness,Boyz II Men,4 Seasons Of LonelinessBoyz II Men,1997
18,8/30/08,Crush,David Archuleta,CrushDavid Archuleta,2008
19,8/29/09,Party In The U.S.A.,Miley Cyrus,Party In The U.S.A.Miley Cyrus,2009

In [6]:
#Store Additional CSV data into DataFrame
top10_file = "Resources/top10s.csv"
top10_df = pd.read_csv(top10_file, encoding='latin-1')
top10_df.head()

,id,title,artist,top_genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [7]:
#Clean DataFrame
new_top10_df = top10_df[['id','title', 'artist', 'top_genre','year']]. copy()
new_top10_df.head()

   id                 title      artist        top_genre  year
0   1      Hey, Soul Sister       Train       neo mellow  2010
1   2  Love The Way You Lie      Eminem  detroit hip hop  2010
2   3               TiK ToK       Kesha        dance pop  2010
3   4           Bad Romance   Lady Gaga        dance pop  2010
4   5  Just the Way You Are  Bruno Mars              pop  2010

In [8]:
new_top10_df.dropna(axis=0, how="any", thresh=None, subset=None, inplace=True)

In [9]:
new_top10_df.isnull().sum().sum()

0

In [10]:
#Connect to local SQL database
connection_string = "postgres:postgres@localhost:5432/hotstuff_etl"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
#Check tables
engine.table_names()

['spotify_list', 'hotstuff']

In [12]:
new_top10_df.year.dtype

dtype('int64')

In [13]:
#Load CSV converted DataFrame into database
new_hot_stuff_df.to_sql(name='hotstuff', 
                        con=engine, 
                        if_exists='append',
                        index=False)

In [14]:
new_top10_df.to_sql(name='spotify_list',
                   con= engine,
                   if_exists='append',
                   index=False)

In [15]:
pd.read_sql_query('select * from spotify_list', con=engine).head()

   id                 title      artist        top_genre  year
0   1      Hey, Soul Sister       Train       neo mellow  2010
1   2  Love The Way You Lie      Eminem  detroit hip hop  2010
2   3               TiK ToK       Kesha        dance pop  2010
3   4           Bad Romance   Lady Gaga        dance pop  2010
4   5  Just the Way You Are  Bruno Mars              pop  2010